/* app css stylesheet */

body,  .ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#about_main_info{
	display : inline-block;
}
#about_phone_numbers,
#about_aux_info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#about_phone_numbers label {
	display : inline-block;
	width : 50px;
}
#title{
	text-align: center;
	margin: 0px 100px 0px 100px;
}
#title h1, #title h2{
	margin: 0px auto 0px auto;
}
#title h1{
	
}
#other_mails{
	display: none;
}
#body{
	margin: 20px auto 20px auto;
	width: 1024px;
}
#about_aux_info{
	float: right;
}
#about_banner_info{
	width: 100%;
	position : absolute;
	text-align: center;
}
#career, #skills{
	display: inline-block;
	vertical-align: top;
}
#career{
	width : 76%;
}
#skills{
	width : 22%;
	padding-left: 10px;
}
#skills h3{
	font-size: 0.9em;
}
.skill_hover, #skills .skill_hover {
	background : #CCFFCC;
}
.skill_hover{
	border-color: #FFFFAA;
}
#career .ui-corner-all{
	border-style:  hidden;
}
#studies .skill_hover,
#experiences .skill_hover,
#projects .skill_hover
{
	border: 1px solid #8888AA;
	border-style: solid;
}
#skills .to_hide{
	display: none;
}
#skills .ui-progressbar {
	position: relative;
}

#skills .progress-label {
	position: absolute;
	top: 0px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	width: 100%;
}
#skills ul{
	padding : 0px;
	margin : 0px;
}
#skills .progress-skill-label,
#skills .progress-skill-rate{
	font-size: 0.8em;
	display: inline-block;
}
#skills .progress-skill-label{
	width : 80%;
	padding-left: 5px;
}
#skills .progress-skill-rate{
	width : 15%;
}
#skills .ui-progressbar {
	height: 1.3em;
}
.note{
	font-size: 0.8em;
}
#studies .note{
	margin-left: 130px;
}
#experiences .note{
	margin-left: 255px;
}
.main_label{
	text-decoration: underline;
}
.period{
	font-style: italic;
	display: inline-block;
}
#studies .period{
	width : 125px;
}
#experiences .period{
	width : 250px;
}
#experiences .main_label,
#experiences .company,
#experiences .place,
#experiences .client{
	display: inline-block;
}
.client{
	font-style: italic;
}
.tooltip{
	display: none;
}
#powerTip{
	position: absolute;
}
#powerTip img{
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#powerTip img:hover{
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}