<div data-ng-controller="AboutController as about" id="header">
	<div id="about_banner_info">
	   <img alt="{{ about.name }} {{ about.surname }}" src="img/profile.jpg" width="80px"/>
	</div>
	<div id="about_aux_info">
	   <div>
	       {{ age }} ans
	   </div>
	   <ul>
	       <li data-ng-repeat="info in about.other"> {{ info }}</li>
	   </ul>
	</div>
	<div id="about_main">
		<div id="about_main_info">
			<div>
	            <span>{{ about.name }}</span>&nbsp;<span>{{ about.surname }}</span>
	        </div>
			<div>
			    <div>{{about.address}}</div>
			    <div>
	                <span>{{about.zipcode }}</span>&nbsp;<span>{{about.city}}</span>
	            </div>
	            <div id="about_mail">
	                <span id="main_mail" class="confidential">
	                   <a href="mailto:{{mail}}"><span class="ui-icon ui-icon-mail-closed"></span>{{ about.mails[0] }}</a>
                   </span>
	                <div id="about_toggle_other_mails"  class="ui-state-default ui-corner-all" data-toggle-div="other_mails">
	                	<span class="ui-icon ui-icon-plus"></span>
                	</div>
                	<div id="other_mails">
				        <div data-ng-repeat="mail in about.mails" data-ng-show="$index > 0">
				            <a href="mailto:{{mail}}"><span class="ui-icon ui-icon-mail-closed"></span>{{ mail }}</a>
				        </div>
			        </div>
	            </div>
			    <div>
	                <ul id="about_phone_numbers">
				        <li data-ng-repeat="phone in about.phones">
				            <label for="phoneNumber_{{ phone.label }}" data-ng-hide="{{!isEmpty(phone.jqueryIcon)}}">{{ phone.label }}</label>
				            <span class="ui-icon {{phone.jqueryIcon}}" data-ng-hide="{{isEmpty(phone.jqueryIcon)}}"></span>
				            <span id="phoneNumber_{{ phone.label }}" class="confidential">{{ phone.number }}</span>
				        </li>
			        </ul>
			    </div>
			</div>
		</div>
	</div>
	<div id="title" class="ui-widget-header ui-corner-all">
		<h1>{{about.career}}</h1>
		<h2>{{about.quote}}</h2>
	</div>
</div>

